<!-- wait for dynamicForm property created -->
<div *ngIf="dynamicForm" class="mat-app-background">
  <div>
    <p>Resource Type: {{ questionnaire.resourceType }}</p>
    <p>Date: {{ questionnaire.date }}</p>
    <p>Status: {{ questionnaire.status }}</p>
  </div>
  <div class="questions">
    <!-- novalidate directive/attribute is used to disable browser's native form validation -->
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- group element in a template, itself doesn't be rendered in the DOM -->
      <ng-container
        *ngFor="let question of questions"
        [ngTemplateOutlet]="questionContent"
        [ngTemplateOutletContext]="{ question: question }"
      >
      </ng-container>
      <!-- submit button -->
      <button mat-raised-button color="primary" [disabled]="!dynamicForm.valid">
        Submit
      </button>
      <!-- ng-template is used to render HTML in a template, it only be rendered in other place with structrue directive -->
      <ng-template let-question="question" #questionContent>
        <div *ngIf="question.type == 'group'; else questionItem">
          <h1 class="question-group">
            {{ question.text }}
          </h1>
          <ng-container
            *ngFor="let subQuestion of question.item"
            [ngTemplateOutlet]="questionContent"
            [ngTemplateOutletContext]="{ question: subQuestion }"
          ></ng-container>
        </div>
        <ng-template #questionItem>
          <app-question
            [question]="question"
            [control]="dynamicForm.controls[question.linkId]"
          ></app-question>
        </ng-template>
      </ng-template>
    </form>
  </div>
  <app-questionaire-response
    *ngIf="response"
    [response]="response"
  ></app-questionaire-response>
</div>
