:host > div {
  margin: 1rem;
  font-size: 1rem;
}

.question-group {
  background-color: aqua;
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
}

p {
  margin-left: 1rem;
}

::ng-deep .question-item {
  label {
    margin-left: 1rem;
    padding-top: 1.2rem;
  }

  .mat-checkbox {
    .mat-checkbox-inner-container {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 15rem;
  }
}

button {
  margin: 2rem 0;
  font-size: 1.2rem;
}

// div {
//   margin-bottom: 10px;
// }

// label {
//   margin-right: 5px;
// }

// .error-message {
//   color: red;
// }

.questions {
  margin-top: 2rem;
}
